.print_website {
    visibility: hidden;

}

@media print {
    body * {
        visibility: hidden;
    }

    .print_website {
        visibility: visible;

    }

    .print_website_parent {
        position: absolute;
        top: 0;
    }

}

.table_links {
    cursor: pointer;
}

.border_args{
    border-bottom: 1px solid #009999;
    border-radius: 2px 2px 2px 2px;


}
