
.autocomplete-suggestions{
    padding: 10px 10px;
    margin: auto;
    border: 1px solid darkgrey;
    border-top: none;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    
}

.autocomplete-suggestion{
    tabindex: 0;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 5px;  

}

.autocomplete-selected:focus
.autocomplete-selected{
    color: rgba(0, 153, 153, 1);
    background-color: rgba(169, 169, 169, 0.2)
}

.autocomplete-suggestions strong{
        color: rgba(0, 153, 153, 1);
}

.autocomplete-group{
    background-color: black
}

.autocomplete-group strong{
    background-color: darkgray;
    opacity: 0.5;
    
}

.borders{
    border: 1.5px solid #eee;
    border-radius: 5px;
    padding-left: 2rem;
    
}

.notification{
    margin: 5px;

}
.notification:hover{
    box-shadow: 0 0 5px #009999;
}

.back_danger{
    background-color: #d9534f;
}

.back_white{
    background-color: white;
}

.back_white:focus{
    box-shadow: 0 6px 20px 0 #009999
}

.box_shadow{
    box-shadow: 0 6px 20px 0 #009999
}

/*
.navbar-brand {
    width: 250px;
    background-image: url("/static/Pictures/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar-form
{

}*/
.table {

}

.errormsg {

    width: 100%;
    padding-left: 3px;
    background-color: rgba(255, 0, 0, 0.3);
    font-weight: 700;

    size: 50px;

    border-left: 5px solid red;

    /*border-radius: 0px 0px 30px 10px;*/

}

.msg {
    width: 100%;
    padding-left: 3px;
    background-color: rgba(144, 245, 0, 0.3);
    font-weight: 700;

    size: 50px;

    border-left: 5px solid rgba(118, 173, 42, 1);

    /*border-radius: 0px 0px 30px 10px;*/

}

.h1 {
    padding-left: 10px;
}

.page-header {
    padding-left: 1%;
}

/*.alert-danger {
    border-left: 5px solid red;
}

.alert-success {
    border-left: 5px solid rgba(118, 173, 42, 1);
}*/
td a {
    display: block;
    border: 10px;
    padding: 10px;

}

td a:link {
    color: black;
    overflow: hidden;

}

/* document slider */

.slideshow-container{
    position: relative;
    margin: auto;
    background-color: none
}

.mySlide{
    display: none;
    width: 30%;
    box-shadow: 0 6px 20px 0 #009999;
    text-align: center;
    position: relative
}

.slideCaption{
    padding: 10px;
}

.prev .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 5px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  box-shadow: 5px 5px 5px #009990;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.custom_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* end document sider */