.jumbotron {
    margin-top: 1em;
/ / add a little space

}

/*
.navbar-brand {
    width: 250px;
    background-image: url("/static/Pictures/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar-form
{

}*/
.table {

}

.errormsg {

    width: 100%;
    padding-left: 3px;
    background-color: rgba(255, 0, 0, 0.3);
    font-weight: 700;

    size: 50px;

    border-left: 5px solid red;

    /*border-radius: 0px 0px 30px 10px;*/

}

.msg {
    width: 100%;
    padding-left: 3px;
    background-color: rgba(144, 245, 0, 0.3);
    font-weight: 700;

    size: 50px;

    border-left: 5px solid rgba(118, 173, 42, 1);

    /*border-radius: 0px 0px 30px 10px;*/

}

.h1 {
    padding-left: 10px;
}

.page-header {
    padding-left: 1%;
}

.alert-danger {
    border-left: 5px solid red;
}

.alert-success {
    border-left: 5px solid rgba(118, 173, 42, 1);
}

td a {
    display: block;
    border: 10px;
    padding: 10px;

}

td a:link {
    color: black;
    overflow: hidden;

}