.jumbotron {
    margin-top: 1em;
/ / add a little space

}
/*
.navbar-brand {
    width: 250px;
    background-image: url("/static/Pictures/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar-form
{

}*/
.table {

}

