{%- extends 'base.html' %} {% block content %}


    <div class="container">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Whooops</h3>
            </div>
            <div class="panel-body">
                <h4>Error 500</h4>
                <p> Well, that means the server was unable to serve your request.
                    Either because it is too busy or the developer made a mistake.
                    In any case, try again what you were doing. If the error repeats write me an 
                    <a href="mailto:stefan.steinmueller@siemens.com">Email</a>
                </p>
            </div>
        </div>

    </div>


{% endblock %}