{%- extends 'base.html' %}
{%- import 'own_wtf.html' as wtf %}
{% block title %}
    Add a Board
{% endblock %}
{% block content %}
    <div class="page-header" style="position: center">
        <h1>Add a Board:</h1>
    </div>
    <div class="col-md-4" style="position: center">
        <form action="" method="post">
            {{ wtf.form_field(form.code) }}
            {{ wtf.form_field(form.name)}}
            {{ wtf.form_field(form.ver) }}
            {{ wtf.form_field(form.submit) }}
            {{ form.hidden_tag }}

        </form>
    </div>



{% endblock %}



