{%- extends 'base.html' %}
{%- import 'own_wtf.html' as wtf %}

{% block content %}
    <div class="page-header">
        <h1>Add a Board:</h1>
    </div>
    <div class=col-md-4 class=col-xs-1>
        {{ wtf.quick_form(form) }}
        {{ form.hidden_tag }}


    </div>

{% endblock %}

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-wysiwyg.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='prettify.js') }}"></script>
{% endblock %}