{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "own_wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}



{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
    <link rel="icon" href="/static/staticPictures/platos_favico.png" type="image/png">
{%- endblock %}

{% block styles -%}
    {{ super() }}  {# do not forget to call super or Bootstrap's own stylesheets
will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="/static/sample-app.css">
          <link rel="stylesheet" type="text/css"
          href="/static/layout_base.css">
{% endblock %}

{% block body_attribs %}

style="padding-top: 70px"

{% endblock %}

{% block navbar %}


    {{ nav.frontend_top.render('own_nav_renderer') }}
    <script>
        if(!($('#msg_badge').html()=="0")){
            $('#msg_badge').addClass('back_danger')
        }
        </script>



    {% with messages = get_flashed_messages(with_categories='true') %}
        {% if messages %}
        <div class="container col-xs-12 col-md-4 col-lg-3" style="position: fixed; right: 0; z-index: 1">
                {% for category, message in messages %}
                    <!--<div class="row">-->
                        <div class="alert alert-{{ category }}" 
                        style="position: relative; border-radius: 0"
                        onclick="$(this).fadeOut(2000)" 
                        onmouseover="$(this).stop(true, false,false).css('opacity', '1')"
                        onmouseout="$(this).fadeOut(10000)">
                        {{ message|safe}}
                        </div>
                    <!--</div>                -->
                {% endfor %}
        </div>
        {% endif %}
    {% endwith %}


    {#    {{ wtf.quick_form(search_form)}}
    {{ search_form.hidden_tag }}#}
{% endblock %}