{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "own_wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}



{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}

{%- endblock %}

{% block styles -%}
    {{ super() }}  {# do not forget to call super or Bootstrap's own stylesheets
will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="/static/sample-app.css">
{% endblock %}



{% block navbar %}


    {{ nav.frontend_top.render('own_nav_renderer') }}



    {% with messages = get_flashed_messages(with_categories='true') %}
        {% if messages %}

                {% for category, message in messages %}
                    {% if category!='message' %}
                    <li class="alert alert-{{ category }}">{{ message|safe }}</li>
                    {% elif category=='message' %}
                    <li class="alert alert-info">{{ message|safe }}</li>
                    {% endif %}


                {% endfor %}

        {% endif %}
    {% endwith %}


    {#    {{ wtf.quick_form(search_form)}}
    {{ search_form.hidden_tag }}#}
{% endblock %}
