{%- extends "base.html" %}
{%- import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    {% if g_board | safe %}
        {{ g_board.project_name }} {{ g_board.version }}
        {#Hier kommt die Struktur wie die Daten aus der Datenbank angezeigt werden sollen.#}
    {% endif %}


{%- endblock %}



{% block content -%}

    {% if g_board %}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">Add History</button>
        <br><br>

        {% if history %}

            <div class="panel">

            {% for row in history %}
                {% set modal_id= row.id %}
                <div class="panel-default panel-collapse">
                {% if row.data_objects %}

                    <div class="panel-body">
                        <div class="row">

                            <div class="thumbnail">
                                {% set pics=row.data_objects %}

                                {% for pic in pics %}
                                    <img src="{{ pic.file_path }}" style="width: 10%">
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                {% endif %}
                <div class="panel-body">{{ row.history | safe }}</div>
                <div class="panel-footer"><kbd class="footnote">{{ "added by "+row.added_by }}</kbd>

                    {% if not row.edited_by %}

                        <kbd class="footnote"
                             style="position: absolute; right: 40px">{{ "last edited on "+row.time_and_date }}</kbd>

                    {% endif %}
                    {% if row.edited_by %}
                        <kbd class="footnote"
                             style="position: absolute; right: 40px">{{ "last edited on "+row.last_edited+" by "+row.edited_by }}</kbd>
                    {% endif %}
                    <button type="button" class="btn btn-danger btn-xs" style="position: absolute; right: 2px  "
                            data-toggle="modal"
                            data-target="#{{ modal_id }}">Edit!
                    </button>
                </div>
                <div id="{{ modal_id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ 'Edit Story '+row.id|safe|string }}</h4>
                            </div>
                            <div class="modal-body">

                                {% set f=edit_form.history.process_data(row.history.replace('<br>', '\n')) %}
                                {% set g=edit_form.history_id.process_data(row.id) %}
                                <form action="" method="post">
                                    {{ wtf.form_field(edit_form.history) }}
                                    {{ wtf.form_field(edit_form.send_edit) }}
                                    {{ wtf.form_field(edit_form.delete, Class=' btn btn-danger') }}
                                    {{ edit_form.history_id(value=row.id|string) }}
                                    {{ edit_form.hidden_tag }}
                                </form>
                                <div class="modal-footer">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        {% endif %}




    {% endif %}


<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'Add a new Story to '+g_board.code }}</h4>
            </div>
            <div class="modal-body">
                {{ wtf.quick_form(add_form) }}
                {{ add_form.hidden_tag }}
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>


</div>

</div>
{%- endblock %}


