{%- extends "base.html" %}
{%- import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    {% if g_board | safe %}
        {{ g_board.code }} {{ "Ver: "+ g_board.version }}
        {#Hier kommt die Struktur wie die Daten aus der Datenbank angezeigt werden sollen.#}
    {% endif %}


{%- endblock %}



{% block content -%}




<div class="container-fluid">
    <div class="well">
        <div class="media">
            <div class="media-left">
                {% if g_board.project.project_default_image_path is none %}
                <img
                    src="/static/staticPictures/logo.png"
                    class="media-object thumbnail" alt="default_project_image"
                    style="width: 160px">
                {% else %}
                <img
                    src="/static/Pictures/{{ g_board.project.project_default_image_path|replace('\\','/') }}"
                    class="media-object thumbnail" alt="default_project_image"
                    style="width: 160px">
                {% endif %}
            </div>
            <div class="media-body text-left">
                <div class="media-heading">
                    <h3>{{ g_board.project.project_name }}

                    </h3>
                </div>
                {{ g_board.project.project_description }}
            </div>

        </div>
    </div>
    {% if g_board %}

        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-ld-6">
                <h2 class=" center-block">{{ g_board.code|string }}
                    <small class="">
                        Version: {{ g_board.version|string }}
                        {% if current_user.username != 'Guest' %}
                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal"
                                    data-target="#version_modal"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        {% endif %}
                        State: {{ g_board.stat|string }}
                        {% if current_user.username != 'Guest' %}
                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal"
                                    data-target="#state_modal"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        {% endif %}
                        <span style="opacity: 0.5">Patch: {{ g_board.patch|string }}</span>
                    </small>
                </h2>
                <h3>
                    <small>
                        {% if g_board.args() is not none %}
                        {% for arg in g_board.args() %}
                        {{arg|string+": "+g_board.args()[arg]|string}}
                        {% if current_user.username != 'Guest' %}
                        <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                data-target="#args_modal" onclick="set_args_name_modal('{{arg}}')"><span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        {% endif %}
                        {% endfor %}
                        
                        {% if current_user.username != 'Guest' %}
                        <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                data-target="#args_modal" onclick="set_args_name_modal('')"><span class="glyphicon glyphicon-plus"></span>
                        </button>
                        {% endif %}
                        {% endif %}
                    </small>
                </h3>
                </div>
                    <!-- patches -->
                    <div class="col-xs-12 col-md-6 col-ld-6">
                        <div class="row">
                        {% for patch in g_board.project.project_patches %}
                            <div class="col-xs-3 col-md-3 col-ld-2">
                            <form action="{{url_for('check_patch', patch_id=patch.patch_id, board_code=g_board.code)}}"
                            method="POST" id=form_id{{patch.patch_id|string}}>
                            <div class="form-group">
                                <div class="checkbox borders">
                                    <label
                                    data-toggle="popover" data-placement="bottom" 
                                    data-html="true" data-trigger="hover"
                                    container='body'
                                    data-content="{{patch.md_description()}}">
                                    <input class="" type="checkbox" value=""
                                    {% if patch in g_board.patches %}
                                    checked="checked"
                                    {% else %}
                                    {% endif %}
                                    {% if current_user.username == 'Guest'%}
                                    disabled
                                    {% endif %}
                                    onchange="document.getElementById('form_id{{patch.patch_id|string}}').submit()"
                                    name="check">
                                    Patch {{patch.patch_number|string}}</label>
                                    <button class="btn btn-sm btn-link" type="button"
                                    data-toggle="popover" data-placement="bottom" 
                                    data-html="true" data-trigger="hover"
                                    container='body'
                                    data-content="{{patch.md_description()}}"
                                    onclick="window.document.location='{{url_for('show_project', project_name=patch.project_id)}}#collapse{{patch.patch_id|string}}'">
                                    <span class="glyphicon glyphicon-info-sign"></span></button>
                                </div>
                            </div>
                            </form>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

         <!--   <h3>
                {{g_board.args().keys()|string+" "+g_board.args()["Test_arg"]|string}}
                <button class="btn btn-default btn-sm" type="button" data-toggle="modal"
                                    data-target="#args_modal"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
            </h3> -->

            {% if current_user.username!='Guest' %}
                <button type="button" class="btn btn-default center-block" data-toggle="modal"
                        data-target="#addModal"><span
                        class="glyphicon glyphicon-comment "></span></button>

                <br><br>
            {% endif %}
        </div>
        </div>
            {% if history %}


            <div class="container">
                {% for row in history %}
                    {% set modal_id= row.id %}
                <div class="row well" id="comment_id{{row.id}}" style="background-color: white; padding-bottom: 0">
                    <div class="media" style="padding-bottom: 0">
                        <!--div class="col-md-1 col-lg-1 col-ld-1"></div-->
                        <div class="col-2 col-xs-2 col-md-1 col-lg-1 col-ld-1">
                            <div class="media-left media-bottom">
                                <img src="{{row.added_by.avatar()}}" class="media-object pull-right" style="width:100%">
                                <p class="text-center">
                                    {{row.added_by.username|string}}<br>
                                    <a href="mailto:{{row.added_by.email}}">E-Mail</a>
                                    {{row.time_and_date}}
                                </p>
                            </div>
                        </div>
                        <div class="col-9 col-xs-9 col-md-10 col-lg-10 col-ld-10">
                            <div class="media-body" id="comment{{row.id}}">
                                {{row.md_history()|safe}}
                            </div>                            
                        </div>
                        <div class="media-right">
                            <div class="form-group">
                                <button class="btn btn-success btn-block"
                                    data-toggle="modal"
                                    {% if current_user.username == 'Guest' %}
                                        disabled
                                    {% endif %}
                                    data-target="#answer{{row.id}}">
                                    Answer
                                </button>
                                <button type="button" class="btn btn-danger btn-block"
                                    data-toggle="modal"
                                    {% if (current_user.username == 'Guest') or (current_user != row.added_by) %}
                                    disabled
                                    {% endif %}
                                    data-target="#edit{{ modal_id }}">Edit!
                            </button>
                            
                            </div>
                            {% if current_user == row.added_by %}
                            <div id="edit{{ modal_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{ 'Edit Comment:' }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% set f=edit_form.history.process_data(row.history.replace('<br>', '\n')) %}
                                            {% set g=edit_form.history_id.process_data(row.id) %}
                                            <form action="" method="post">
                                                {{ wtf.form_field(edit_form.history, rows='15', id="textarea"+row.id|string) }}
                                                {% if current_user.username != 'Guest' %}
                                                    {{ wtf.form_field(edit_form.send_edit) }}
                                                    {{ wtf.form_field(edit_form.delete) }}
                                                {% endif %}
                                                {{ edit_form.history_id(value=row.id|string) }}
                                                {{ edit_form.hidden_tag }}
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <script>
                            $('#edit{{modal_id}}').keydown(registerAtSign)
                            </script>
                            {% endif %}
                            <!-- End edit comment modal -->
                        </div>
                    </div>
                    
                    <!--hr style="padding: 0; margin: 5px 0px 5px 0px"-->
                    <!--Media part -->
                    <div class="panel panel-default" style="padding: 0; margin: 5px 0px 5px 0px">
                        <div class="panel-heading" role="button" id="mediaPanelheading{{row.id}}" data-toggle="collapse"
                                href="#mediaPanel{{row.id}}" aria-controls="mediaPanel{{row.id}}" aria-expanded="false" toggle="false">
                                <h4 class="panel-title">
                                    Files <span class="badge">{{row.data_objects|length}}</span>
                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                </h4>
                        </div>
                        <div id="mediaPanel{{row.id}}" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="mediaPanelheading{{row.id}}">
                            <div class="panel-body">
                                <!-- file part with form and stuff here!-->
                                    {% if row.data_objects %}
                                    {% set pics=row.data_objects %}

                                    {% for pic in pics %}
                                            <div class="col-xs-6 col-md-2 col-ld-2 col-lg-2">
                                                <div class="thumbnail">
{% if '.jpg' in pic.file_path|lower or '.jpeg' in pic.file_path|lower or '.bmp' in pic.file_path|lower or '.png' in pic.file_path|lower %}
                                                    <a class="" href="/static/Pictures/{{ pic.file_path }}" target="_blank">
                                                        <img class=""
                                                             src="/static/Pictures/{{ pic.file_path }}"
                                                             style="width: 100%">
                                                    </a>
                                                    {% else %}
                                                        <img src="/static/staticPictures/file.png"
                                                             style="width: 50%">
                                                    {% endif %}
                                                    {% set filename=pic.file_path.split('/') %}
                                                    <div class="caption">
                                                        <p class="text-justify" style="white-space: normal; word-break: break-all">
                                                            {{ filename[filename|length-1] }}
                                                        </p>
                                                    </div>
                                                </div>
                                                            
                                                            <div class="row">
                                                                {% if current_user.is_authenticated %}
                                                                <div class="col-xs-3 col-md-3 col-lg-3 col-ld-3">
                                                                <button class="btn btn-warning" type="button"
                                                                    data-toggle="collapse" data-target="#{{ pic.id }}"
                                                                    aria-expanded="false"
                                                                    aria-controls="{{ pic.id }}"><span
                                                                    class="glyphicon glyphicon-remove"></span></button>
                                                                </div>
                                                                <div class="col-xs-9 col-md-9 col-lg-9 col-ld-9">
                                                                <a href="/static/Pictures/{{ pic.file_path }}"
                                                                    class="btn btn-default btn-block"
                                                                    id="file_id{{ pic.id }}"
                                                                    type="button"
                                                                    download>
                                                                    <span class="glyphicon glyphicon-download">
                                                                    Download
                                                                    </span>
                                                                </a>
                                                                </div>
                                                                {% else %}
                                                                <div class="col-xs-12 col-md-12 col-lg-12 col-ld-12">
                                                                <a href="/static/Pictures/{{ pic.file_path }}"
                                                                    class="btn btn-default btn-block"
                                                                    id="file_id{{ pic.id }}"
                                                                    type="button"
                                                                    style="white-space: normal; word-break: break-all"
                                                                    download>
                                                                    <span class="glyphicon glyphicon-download">
                                                                    Download
                                                                    </span>
                                                                </a>
                                                                </div>
                                                                    {% endif %}
                                                                
                                                            </div>
                                                            
                                                    

                                                    
                                                    {% if current_user.is_authenticated %}
                                                        <form class=""
                                                              action="{{ url_for('delete_history_image', img_id=pic.id, board_id=g_board.code) }}"
                                                              method="post">
                                                            
                                                            <div class="collapse" id="{{ pic.id }}">
                                                                <div class=""><br>
                                                                    <button class="btn btn-danger btn-sm btn-block"
                                                                            type="submit"><span
                                                                            class="glyphicon glyphicon-ok pull-left"></span>
                                                                        <strong>Delete?</strong>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    {% endif %}
                                                    
                                                
                                                
                                            </div>
                                    {% endfor %}

                                {% endif %}
                            {% if current_user.username!='Guest' %}
                                <form action="{{ url_for('board_history_add_file', history_id=row.id, board_id=g_board.code) }}"
                                      method="post" class="" enctype="multipart/form-data"
                                      id="{{row.id|string+'new_upfile_form'}}">

                                    <input class="hidden" name="{{row.id|string+'new_upfile'}}" id="{{row.id|string+'new_upfile'}}"
                                           type="file" value="upload"
                                           onchange="document.getElementById('{{row.id|string+'new_upfile_button'}}').click()">
                                    <button class="hidden" type="submit" id="{{row.id|string+'new_upfile_button'}}"></button>
                                    <button class="btn btn-default btn-sm" type="button"
                                            onclick="document.getElementById('{{row.id|string+'new_upfile'}}').click()"><span
                                            class="glyphicon glyphicon-paperclip"></span></button>
                                </form>

                            {% endif %}
                        
                                <!-- end file part stuff -->
                            </div>
                        </div>
                    </div>
                    <!--End Media-->
                    <!-- answers -->
                    <div class="panel panel-default" style="padding: 0; margin: 5px 0px 5px 0px">
                        <div class="panel-heading" role="button" id="answersPanelheading{{row.id}}" data-toggle="collapse"
                                href="#answersPanel{{row.id}}" aria-controls="mediaPanel{{row.id}}" aria-expanded="false" toggle="false">
                                <h4 class="panel-title">
                                    Answers <span class="badge">{{ row.answers|length }}</span>
                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                </h4>
                        </div>
                        <div id="answersPanel{{row.id}}" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="answersPanelheading{{row.id}}">
                            <div class="panel-body">
                                <!-- answers_content -->
                                    {% for answer in row.answers %}
                                        {% set modal_id= answer.id %}
                                            <div class="row well" id="comment_id{{answer.id}}" style="background-color: white; padding-bottom: 0">
                                                <div class="media" style="padding-bottom: 0">
                                                    <div class="col-2 col-xs-2 col-md-1 col-lg-1 col-ld-1">
                                                        <div class="media-left media-bottom">
                                                            <img src="{{answer.added_by.avatar()}}" class="media-object pull-right" style="width:100%">
                                                            <p class="text-center">
                                                            {{answer.added_by.username|string}}<br>
                                                            <a href="mailto:{{answer.added_by.email}}">E-Mail</a>
                                                            {{answer.time_and_date}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-9 col-xs-9 col-md-10 col-lg-10 col-ld-10">
                                                    <div class="media-body" id="comment{{answer.id}}">
                                                        {{answer.md_history()|safe}}
                                                    </div>                            
                                                </div>
                                            <div class="media-right">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-danger btn-block"
                                                        data-toggle="modal"
                                                    {% if current_user.username == 'Guest' or current_user != answer.added_by  %}
                                                        disabled
                                                    {% endif %}
                                                    data-target="#edit{{ modal_id }}">Edit!
                                                    </button>
                                                </div>
                            <!-- Edit comment modal -->
                            <div id="edit{{ modal_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{ 'Edit Comment:' }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% set f=edit_form.history.process_data(answer.history.replace('<br>', '\n')) %}
                                            {% set g=edit_form.history_id.process_data(answer.id) %}
                                            <form action="" method="post">
                                                {{ wtf.form_field(edit_form.history, rows='15', id="textarea"+answer.id|string) }}
                                                {% if current_user.username != 'Guest' %}
                                                    {{ wtf.form_field(edit_form.send_edit) }}
                                                    {{ wtf.form_field(edit_form.delete) }}
                                                {% endif %}
                                                {{ edit_form.history_id(value=answer.id|string) }}
                                                {{ edit_form.hidden_tag }}
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <script>
                            $('#edit{{modal_id}}').keydown(registerAtSign)
                            </script>

                            <!-- End edit comment modal -->
                        </div>
                    </div>
                    
                    <!--hr style="padding: 0; margin: 5px 0px 5px 0px"-->
                    <!--Media part -->
                    <div class="panel panel-default" style="padding: 0; margin: 5px 0px 5px 0px">
                        <div class="panel-heading" role="button" id="mediaPanelheading{{answer.id}}" data-toggle="collapse"
                                href="#mediaPanel{{answer.id}}" aria-controls="mediaPanel{{answer.id}}" aria-expanded="false" toggle="false">
                                <h4 class="panel-title">
                                    Files <span class="badge">{{answer.data_objects|length}}</span>
                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                </h4>
                        </div>
                        <div id="mediaPanel{{answer.id}}" class="panel-collapse collapse" role="tabpanel" 
                        aria-labelledby="mediaPanelheading{{answer.id}}">
                            <div class="panel-body">
                                <!-- file part with form and stuff here!-->
                                    {% if answer.data_objects %}
                                    {% set pics=answer.data_objects %}

                                    {% for pic in pics %}
                                            <div class="col-xs-6 col-md-2 col-ld-2 col-lg-2">
                                                <div class="thumbnail">
{% if '.jpg' in pic.file_path|lower or '.jpeg' in pic.file_path|lower or '.bmp' in pic.file_path|lower or '.png' in pic.file_path|lower %}
                                                    <a class="" href="/static/Pictures/{{ pic.file_path }}" target="_blank">
                                                        <img class=""
                                                             src="/static/Pictures/{{ pic.file_path }}"
                                                             style="width: 100%">
                                                    </a>
                                                    {% else %}
                                                        <img src="/static/staticPictures/file.png"
                                                             style="width: 50%">
                                                    {% endif %}
                                                    {% set filename=pic.file_path.split('/') %}
                                                    <div class="caption">
                                                        <p class="text-justify" style="white-space: normal; word-break: break-all">
                                                            {{ filename[filename|length-1] }}
                                                        </p>
                                                    </div>
                                                </div>
                                                            
                                                            <div class="row">
                                                                {% if current_user.is_authenticated %}
                                                                <div class="col-xs-3 col-md-3 col-lg-3 col-ld-3">
                                                                <button class="btn btn-warning" type="button"
                                                                    data-toggle="collapse" data-target="#{{ pic.id }}"
                                                                    aria-expanded="false"
                                                                    aria-controls="{{ pic.id }}"><span
                                                                    class="glyphicon glyphicon-remove"></span></button>
                                                                </div>
                                                                <div class="col-xs-9 col-md-9 col-lg-9 col-ld-9">
                                                                <a href="/static/Pictures/{{ pic.file_path }}"
                                                                    class="btn btn-default btn-block"
                                                                    id="file_id{{ pic.id }}"
                                                                    type="button"
                                                                    download>
                                                                    <span class="glyphicon glyphicon-download">
                                                                    Download
                                                                    </span>
                                                                </a>
                                                                </div>
                                                                {% else %}
                                                                <div class="col-xs-12 col-md-12 col-lg-12 col-ld-12">
                                                                <a href="/static/Pictures/{{ pic.file_path }}"
                                                                    class="btn btn-default btn-block"
                                                                    id="file_id{{ pic.id }}"
                                                                    type="button"
                                                                    style="white-space: normal; word-break: break-all"
                                                                    download>
                                                                    <span class="glyphicon glyphicon-download">
                                                                    Download
                                                                    </span>
                                                                </a>
                                                                </div>
                                                                    {% endif %}
                                                                
                                                            </div>
                                                            
                                                    

                                                    
                                                    {% if current_user.is_authenticated %}
                                                        <form class=""
                                                              action="{{ url_for('delete_history_image', img_id=pic.id, board_id=g_board.code) }}"
                                                              method="post">
                                                            
                                                            <div class="collapse" id="{{ pic.id }}">
                                                                <div class=""><br>
                                                                    <button class="btn btn-danger btn-sm btn-block"
                                                                            type="submit"><span
                                                                            class="glyphicon glyphicon-ok pull-left"></span>
                                                                        <strong>Delete?</strong>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    {% endif %}
                                                    
                                                
                                                
                                            </div>
                                    {% endfor %}

                                {% endif %}
                            {% if current_user.username!='Guest' %}
                                <form action="{{ url_for('board_history_add_file', history_id=answer.id, board_id=g_board.code) }}"
                                      method="post" class="" enctype="multipart/form-data"
                                      id="{{answer.id|string+'new_upfile_form'}}">

                                    <input class="hidden" name="{{answer.id|string+'new_upfile'}}" id="{{answer.id|string+'new_upfile'}}"
                                           type="file" value="upload"
                                           onchange="document.getElementById('{{answer.id|string+'new_upfile_button'}}').click()">
                                    <button class="hidden" type="submit" id="{{answer.id|string+'new_upfile_button'}}"></button>
                                    <button class="btn btn-default btn-sm" type="button"
                                            onclick="document.getElementById('{{answer.id|string+'new_upfile'}}').click()"><span
                                            class="glyphicon glyphicon-paperclip"></span></button>
                                </form>

                            {% endif %}
                        
                                <!-- end file part stuff -->
                            </div>
                        </div>
                    </div>
                    <!--End Media-->
                </div>

                    
                {% endfor %}
                            
                        
                                <!-- end answers_content -->
                            </div>
                        </div>
                    </div>
                    <!-- end answers -->
                </div>

                <!-- answer_modal -->
                    {% if current_user.username != 'Guest' %}
                            
                            <div id="answer{{ modal_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Answer {{ row.username }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{url_for('answer_board_comment', parent_id=row.id)}}" method="POST">
                                                <div class="form-group">
                                                    <textarea name="text" id="answer_textarea{{modal_id}}"
                                                        class="form-control" rows="15" placeholder="Markdown is supported..."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">Submit</button>
                                                    <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                                                        Cancel</button>
                                                </div>
                                            </form>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <script>
                            $('#answer_textarea{{modal_id}}').keydown(registerAtSign)
                            </script>
                                
                            {% endif %}
                <!-- end answer_modal -->

                    
                {% endfor %}
            </div>

                <script> //this script is for changing the color of the targeted div when open e.g. th elink from a mail
                        var hash = window.location.hash;
                        if(hash){
                            var hashed_obj = $(hash);
                            if (!hashed_obj.hasClass('collapse')){
                                $(hash).closest('div.panel-collapse').collapse('show');
                            }
                            window.scrollTo(0, hashed_obj.offset().top-300);
                            hashed_obj.css('box-shadow','0 6px 20px 0 #009999').fadeIn(500);
                        }
                        //$(window.location.hash).css('box-shadow','0 6px 20px 0 #009999').fadeOut(3000)
                        
                </script>

            {% endif %}



    {% endif %}
    </div>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'Add a new Comment to '+g_board.code }}</h4>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('show_board_history', g_code=g_board.code)}}" method="POST">
                        <div class="form-group">
                            <textarea name="add_history" id="history"
                            class="form-control" rows="15" placeholder="Markdown is supported..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Create</button>
                            <button class="btn btn-default pull-right" type="button" data-dismiss="modal" name="add_send">Cancel</button>
                        </div>
                    </form>
                    <script>
                    $('#history').keydown(registerAtSign)
                    </script>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>


    </div>

    {% if current_user.username != 'Guest' %}

        {# Version Change Modal #}
        <div id="version_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'Change Version' }}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('change_board_version', board_id=g_board.code) }}" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" id="version_form" name="version_form"
                                       placeholder="Please enter the new Version...">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="submit">Change</button>
                                <button class="btn btn-default pull-right" type="button" data-dismiss="modal">Cancel
                                </button>
                            </div>
                        </form>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>


        </div>

        {# State Change Modal #}
        <div id="state_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'Change State' }}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('change_board_state', board_id=g_board.code) }}" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" id="state_form" name="state_form"
                                       placeholder="Please enter the current state of the board...">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="submit">Change</button>
                                <button class="btn btn-default pull-right" type="button" data-dismiss="modal">Cancel
                                </button>
                            </div>

                        </form>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>


        </div>

        {# Patch Change Modal #}
        <div id="patch_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'Change Patch' }}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('change_board_patch', board_id=g_board.code) }}" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" id="patch_form" name="patch_form"
                                       placeholder="Please enter the current patch of the board...">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="submit">Change</button>
                                <button class="btn btn-default pull-right" type="button" data-dismiss="modal">Cancel
                                </button>
                            </div>

                        </form>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>


        </div>

{# Args Change Modal #}
        <div id="args_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'Change args' }}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('edit_args', board_id=g_board.code) }}" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" id="name" name="name" required="required"
                                       placeholder="Please enter the name of the argument">
                                       <input class="form-control" type="text" id="value" name="value"
                                       placeholder="Please enter the value of the argument">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="submit">Change</button>
                                <button class="btn btn-warning" type="button" id="delete_arg_button"
                                    data-toggle="collapse" data-target="#delete_arg"
                                    aria-expanded="false"
                                    aria-controls="delete_arg"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-default pull-right" type="button" data-dismiss="modal">Cancel
                                </button>
                            </div>

                       
                        <div class="modal-footer">
                            
                            <div class="collapse" id="delete_arg">
                            <br>
                                <button class="btn btn-danger btn-sm btn-block" name="delete_btn" id="delete_btn"
                                        type="submit"><span
                                        class="glyphicon glyphicon-ok pull-left"></span>
                                    <strong>Delete?</strong>
                                </button>
                            </form>
                        </div>
                    </div>
                        
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <script>

            function set_args_name_modal(name) {
                    var my_input = document.getElementById("name");
                    my_input.value = name;
                    }
            
            
                  

            
            
        </script>

  {% endif %}



    {# Print Area #}
    <div class="container container-fluid print_website_parent print_website">
        <div class="page-header print_website h2">Project: {{ g_board.project.project_name }}</div>

        <address class="print_website">
            <h3 class="print_website">Board: {{ g_board.code }} <br>
                <small class="print_website">
                    Version: {{ g_board.version }}<br>
                    State: {{ g_board.stat }}<br>
                    Patch: {{ g_board.patch_numbers() }}
                </small>
            </h3>
        </address>
        <table class="print_website table table-bordered table-striped">
            <thead class="print_website">
            <th class="print_website">Comment</th>
            <th class="print_website">User</th>
            <th class="print_website">Date</th>
            </thead>
            <tbody class="print_website">
            {% for c in g_board.history %}
                <tr class="print_website">
                <td class="print_website">{{ c.history|safe }}</td>
                <td class="print_website">{{ c.edited_by.username|string }}</td>
                <td class="print_website">{{ c.last_edited|string }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>


{%- endblock %}


