{%- extends "base.html" %}
{%- import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    {% if g_board | safe %}
        {{ g_board.project_name }} {{ g_board.version }}
        {#Hier kommt die Struktur wie die Daten aus der Datenbank angezeigt werden sollen.#}
    {% endif %}


{%- endblock %}



{% block content -%}

    {% if g_board | safe %}
        <div class="container-fluid"><h1> {{ g_board.history | safe }}</h1></div>

        {#Hier kommt die Struktur wie die Daten aus der Datenbank angezeigt werden sollen.#}
    {% endif %}
{%- endblock %}


