{%- extends 'base.html' %}
{% block title %}
    Create a new Part Type
{% endblock %}
{% block content %}
        <div class="container col-xs-12 col-md-8 col-lg-8">
            <div class="" id="input_container">
                <form action="#" method="POST">
                    <div class="form-group">
                        <input class="form-control" placeholder="Please enter a property..."
                        id="input:1">
                    </div>
                </form>
            </div>
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-plus">
                </span>
            </button>
        </div>
{% endblock %}