{%- extends 'base.html' %}
{%- import 'own_wtf.html' as wtf %}

{% block content %}
    <div class="jumbotron container container-fluid col-md-4"
         style="margin-left: 30%; padding-bottom: 5%; border: 1px solid #e7e7e7; background-color: transparent; border-radius: 5px 5px 5px 5px;">
        <div class="page-header" style="margin: auto">
            <h2>Login:</h2>
        </div>
        <div class="container-fluid" style="margin: auto">
            <form action="" method="post">
                {{ wtf.form_field(form.username, placeholder="Please enter your username...") }}
                {{ wtf.form_field(form.password, placeholder="Please enter your password...") }}
                <div class="checkbox">
                    <label><input type="checkbox" class="checkbox" id="rememberMe" name="rememberMe">Keep logged
                        in?</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>

                {{ form.hidden_tag }}

            </form>
            <form action="{{ url_for('register_user') }}" method="get">
                <button type="submit" class="btn btn-default btn-block" style="margin-top: 5%">Register</button>
            </form>
            <br>
            <form action="{{ url_for('user_forgot_password') }}" method="get">
                <button type="submit" class="btn btn-danger btn-block" style="margin-top: 5%">Forgot Password?</button>
            </form>

        </div>
    </div>

{% endblock %}