{%- extends 'base.html' %} {% block title %} {% if part %} IDS: {{part.ids}} {% else %} Part {% endif %}
{% endblock %} {% block content %}

    <div class="container col-xs-12 col-md-8 col-md-offset-2"> <!-- container -->
        <div class="row">
            <div class="col-xs-12 col-md-6"> <!-- First column-->
                <div class="row">
                    <div class="col-xs-8 col-md-8">
                        <h3>IDS: {{part.ids}}<br>
                            <small>EXB: {{"%06d" % part.exb_number or ""}}
                                {% if current_user.is_authenticated %}
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalEXB">
                                        <span class="glyphicon glyphicon-pencil"></span>        
                                    </button>
                                {% endif %}
                            </small>
                        </h3>                
                    </div>
                    {% if current_user.is_authenticated %}
                    <!-- Edit EXB Modal -->
                    <div id="modalEXB" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- EXB Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit EXB Number</h4>
                                </div>
                                <form action="{{url_for('edit_exb', part_ids=part.ids)}}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="number" name="exb" id="exb_input" class="form-control">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success pull-left" type="submit">Edit</button>
                                        <button class="btn btn-primary" type="submit" name="new_exb">Assign a new EXB Number</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- end Edit Modal-->
                    <div class="col-xs-4 col-md-4">
                        {% if part.out %}
                            <h3><div class="label label-danger col-xs-6 pull-right">Out</div></h3>
                        {% else %}
                           <h3> <div class="label label-success col-xs-6 pull-right">In</div>         </h3>                   
                        {% endif %}        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="">
                                <p><strong>Type:</strong> {{part.part_type.name}}</p>
                                <div class="row">
                                    <p>
                                        <div class="col-xs-6"><strong>Location:</strong> {% if part.place() and current_user.is_authenticated %}<strong>{{part.place().id}}</strong> :: {{part.place().room.title}}@{{part.place().room.address}}
                                            {% elif not current_user.is_authenticated %}
                                            Please log in to see the location.
                                            {% endif %}</div>
                                        
                                        {% if current_user.is_authenticated %}
                                        <form action="{{url_for('assign_place', part_ids=part.ids)}}" method="POST" class="form-inline">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Assign Place... (Enter the ID)" required type="number" name="place_id">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-default">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </p>
                                </div>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <th>Attribute</th>
                                    <th>Value</th>
                                </thead>
                                <tbody>
                                    {% for arg in part.part_type.args() %}
                                    <form action="{{url_for('edit_part_value', part_ids=part.ids)}}" method="POST">
                                        <tr>
                                            <td>{{arg}}</td>
                                            <td><input type="text" id="input:{{arg|replace(' ', '_')}}" name="{{arg}}" value="{{part.args()[arg]}}" 
                                            {% if current_user.is_authenticated %}
                                            placeholder="Enter the value here..."                                            
                                            {%endif%}
                                            style="border: none; background-color: white"
                                            {% if not current_user.is_authenticated %}
                                            disabled="true"
                                            {%endif%}
                                            >
                                            <button class="btn btn-default btn-sm pull-right"  type="submit"
                                            {% if not current_user.is_authenticated %}
                                            disabled="true"
                                            {%endif%}
                                            >
                                            <span class="glyphicon glyphicon-pencil"></span></button>
                                            </td>
                                        </tr>
                                    </form>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="button" id="headingDocuments" data-toggle="collapse"
                        href="#collapseDocuments" aria-controls="collapseDocuments" aria-expanded="false" toggle="false">
                        <h4 class="panel-title">
                            Documents <span class="badge">{{part.documents|length}}</span>
                            <span class="glyphicon glyphicon-menu-down pull-right"></span>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingDocuments"
                        id="collapseDocuments">
                        <div class="panel-body">
                            <div class="row">
                                <table class="table table-striped table-hover table-responsive">
                                    <thead>
                                        <th>Filename</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        {% for document in part.documents %}
                                            <tr>
                                                <td><a class="btn btn-default btn-block" href="/{{document.path}}" 
                                                     download="{{document.name()}}" role="button">
                                                        {{document.name()}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <form action="{{url_for('delete_part_document', part_ids=part.ids, part_doc_id=document.id)}}" method="POST">
                                                        <button class="btn btn-danger" type="submit">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if not part.documents %}
                                    <div class="col-xs-4 col-md-3">
                                        <p>No Documents...</p>
                                    </div>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <div class="col-xs-12">
                                        <form  method="POST" id="docUp" action="{{url_for('upload_part_document', part_ids=part.ids)}}" enctype="multipart/form-data">  
                                            <div class="">
                                                <label for="part_documents">Upload Documents</label>
                                                <input class="" type="file" id="part_documents" 
                                                name="file" 
                                                onchange="document.getElementById('docUp').submit()">
                                                <p class="help-block">Upload part related Documents here.</p>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- first column end -->
            <div class="col-xs-12 col-md-6"><!-- second column -->
                <div class="row" style="margin-bottom: 1rem">
                    <div class="col-xs-12 col-md-4">
                        <h3><div class=
                        "
                        label 
                        {% if part.available()>0 %}
                        label-success 
                        {% else %}
                        label-danger
                        {% endif %}
                        col-xs-12">Available: {{part.available()}}</div></h3>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <form class="" action="{{url_for('change_recommended', part_ids=part.ids)}}" method="POST">
                        <h3><div class="label label-warning col-xs-12">Rec.:<input type="number" id="recommended" name="recommended" value="{{part.recommended}}" 
                            {% if current_user.is_authenticated %}
                            placeholder="Enter the value here..."                                            
                            {%endif%}
                            style="border: none; background-color: rgba(0,0,0,0)"
                            {% if not current_user.is_authenticated %}
                            disabled="true"
                            {%endif%}
                            ></div></h3>    
                        </form>                    
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h3><div class="label label-info col-xs-12">Ordered: {{part.ordered()}}</div></h3>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Reservations
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-info">Quantity</th>
                                    <th class="text-info">Project</th>
                                    <th class="text-info">User</th>
                                    <th class="text-info">Due Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservation in part.last_active_reservations() %}
                                    <tr>
                                        <td class="text-justify">{{reservation.number}}</td>
                                        <td class="text-justify">{{reservation.project.project_name}}</td>
                                        <td class="text-justify">{{reservation.process.user.username}}</td>
                                        <td class="text-justify">{{reservation.duedate.strftime("%b\\%d\\%Y")}}</td>
                                        <td>
                                        {% if reservation.user().uid == current_user.uid %}
                                        <div class="row">
                                            <form action="{{url_for('delete_part_reservation', id=reservation.id, part_ids=part.ids)}}" method="POST">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="{{url_for('book_part_reservation', id=reservation.id, part_ids=part.ids)}}" method="POST">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-success btn-sm" type="submit">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                {% if not part.last_active_reservations() %}
                                    <tr>
                                        <td>No Reservations...</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Projects using that part-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Related Projects
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-info">Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bom in part.bom %}
                                    <tr class="table_links" onclick="window.document.location='{{bom.project.link()}}';">
                                        <td class="text-justify table_links">{{bom.project.project_name}}</td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Projects using that Part-->

                {% if current_user.is_authenticated %}
                <!-- action Buttons-->
                <form class="row" action="{{url_for('part_reservation', part_ids=part.ids)}}" method="POST">
                    <div class="form-group col-xs-4">
                        <input type="number" placeholder="please enter the amount of parts..."
                        name="amount" class="form-control" required>
                    </div>
                    <div class="form-group col-xs-4">
                        <input class="form-control" name="date" placeholder="DD.MM.YYYY" type="date" required>
                    </div>
                    <div class="form-group col-xs-4">
                        <button class="btn btn-primary btn-block">Reserve</button>
                    </div>
                </form>
                 <form class="row" action="{{url_for('take_part', part_ids=part.ids)}}" method="POST">
                    <div class="form-group col-xs-8">
                        <input type="number" placeholder="please enter the amount of parts..." required
                        name="amount" class="form-control">
                    </div>
                    <div class="form-group col-xs-4">
                        <button class="btn btn-danger btn-block">Take</button>
                    </div>
                </form> 
                <form class="row" action="{{url_for('order_part', part_ids=part.ids)}}" method="POST">
                    <div class="form-group col-xs-8">
                        <input type="number" placeholder="please enter the amount of parts..." required
                        name="amount" class="form-control">
                    </div>
                    <div class="form-group col-xs-4">
                        <button class="btn btn-success btn-block">Order</button>
                    </div>
                </form>
                <!-- action Buttons end-->
                {% endif %}
            </div><!-- second column end-->
            <div class="col-xs-12 col-md-12">
            <!-- start comments -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="button" id="headingComments" data-toggle="collapse"
                        href="#collapseComments" aria-controls="collapseComments" aria-expanded="false" toggle="false">
                        <h4 class="panel-title">
                            Comments <span class="badge">{{part.comments.all()|length}}</span>
                            <span class="glyphicon glyphicon-menu-down pull-right"></span>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingComments"
                        id="collapseComments">
                        <div class="panel-body">
                            <form action="{{url_for('add_part_comment', part_ids=part.ids)}}" method="POST"> 
                                <div class="form-group">
                                    <textarea class="form-control" id="newComment"
                                    placeholder="Markdown is supported..."
                                    name="newComment"></textarea>
                                    <script>
                                        $('#newComment').keydown(registerAtSign)
                                    </script>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit">Submit!</button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-body">
                            {% for comment in part.comments[::-1] %}
                            <div class="panel panel-default" id="comment_id{{comment.id}}">
                                <div class="panel-body"><!-- comment and buttons-->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img src="{{comment.added_by.avatar()}}" class="media-object" style="width:60px">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{comment.added_by.username}} <small><a href="mailto:{{comment.added_by.email}}">E-Mail</a></small></h4>
                                                    <hr>
                                                    {{comment.md_history()|safe}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#modal{{comment.id}}">
                                            Edit
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Edit Modal -->
                                    <div id="modal{{comment.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Edit Comment</h4>
                                                </div>
                                            <form action="{{url_for('edit_comment', comment_id=comment.id)}}" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="edit" id="edit{{comment.id}}}" rows="10">{{comment.history}}</textarea>
                                                        <script>
                                                            $('#edit{{comment.id}}').keydown(registerAtSign)
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success pull-left" type="submit">Edit</button>
                                                    <button class="btn btn-danger" name="delete" type="submit">Delete</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end Edit Modal-->
                                </div> <!-- end comment and buttons-->
                                <div class="panel-body">
                                    <div class="panel panel-default"><!-- files -->
                                        <div class="panel-heading" role="button" id="headingFiles{{comment.id}}" data-toggle="collapse"
                                            href="#collapseFiles{{comment.id}}" aria-controls="collapseFiles{{comment.id}}" aria-expanded="false" toggle="false">
                                            <h4 class="panel-title">Files <span class="badge">{{comment.data_objects|length}}</span>
                                                <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                            </h4>
                                        </div>
                                        <div class="collapse panel-collapse" role="tabpanel" aria-labelledby="headingFiles{{comment.id}}"
                                            id="collapseFiles{{comment.id}}">
                                            <div class="panel-body">
                                                <div class="row">
                                                    {% for file in comment.data_objects %}
                                                        <div class="col-xs-6 col-md-2">
                                                            <div class="thumbnail">
                                                                {% if '.jpg' in file.file_path|lower or '.jpeg' in file.file_path|lower or '.bmp' in file.file_path|lower or '.png' in file.file_path|lower or '.svg' in file.file_path|lower %}
                                                                    <a class="" href="/static/Pictures/{{ file.file_path }}" target="_blank">
                                                                        <img class=""
                                                                        src="/static/Pictures/{{ file.file_path }}"
                                                                        style="width: 100%">
                                                                    </a>
                                                                {% else %}
                                                                    <img src="/static/staticPictures/file.svg"
                                                                    style="width: 50%">
                                                                {% endif %}
                                                                {% set filename=file.file_path.split('/') %}
                                                                <div class="caption">
                                                                    <p class="text-justify" style="white-space: normal; word-break: break-all">
                                                                        {{ filename[filename|length-1] }}
                                                                    </p>
                                                                </div>
                                                                <div class="row">
                                                                {% if current_user.is_authenticated %}
                                                                    <form action="{{ url_for('delete_history_image', img_id=file.id) }}"
                                                                    method="POST">
                                                                        <div class="form-group col-xs-3">
                                                                            <button class="btn btn-danger" type="submit">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                {% endif %}
                                                                    <div class="col-xs-9">
                                                                        <div class="form-group">
                                                                            <a href="/static/Pictures/{{file.file_path}}" role="button"
                                                                                class="btn btn-default btn-block" download="{{filename}}">
                                                                                <span class="glyphicon glyphicon-download">
                                                                                Download
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    {% endfor %}
                                                    {#% if current_user.is_authenticated %#}
                                                        <div class="col-xs-12">
                                                            <form  method="POST" id="docUpComment{{comment.id}}" action="{{url_for('upload_comment_document_part', part_ids=part.ids, comment_id=comment.id)}}" enctype="multipart/form-data">  
                                                                <div class="">
                                                                <label for="part_comment_document{{comment.id}}">Upload Documents</label>
                                                                <input class="" type="file" id="part_comment_document{{comment.id}}" 
                                                                name="file" 
                                                                onchange="document.getElementById('docUpComment{{comment.id}}').submit()">
                                                                    <p class="help-block">Attach Documents to the Comment.</p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {#% endif %#}
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end files-->
                                    <div class="panel panel-default"><!-- Answers -->
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Answers</h4>
                                        </div>
                                        <div class="panel-body">
                                            <!-- Right-aligned -->
                                            {% for answer in comment.answers %}
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{answer.added_by.username}}</h4>
                                                    {{answer.md_history()|safe}}
                                                </div>
                                                <div class="media-right">
                                                    <img src="{{answer.added_by.avatar()}}" class="media-object" style="width:60px">
                                                    <div class="form-group">
                                                        <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#modal{{answer.id}}">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </button>
                                                        <!-- Edit Modal -->
                                                        <div id="modal{{answer.id}}" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Edit Comment</h4>
                                                                </div>
                                                                <form action="{{url_for('edit_comment', comment_id=answer.id)}}" method="POST">
                                                                    <div class="modal-body">
                                                                        <div class="form-group">
                                                                            <textarea class="form-control" name="edit" id="edit{{answer.id}}}" rows="10">{{answer.history}}</textarea>
                                                                            <script>
                                                                                $('#edit{{answer.id}}').keydown(registerAtSign)
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-success pull-left" type="submit">Edit</button>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Edit Modal-->
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            {% endfor %}
                                        </div>
                                        <hr>
                                        <div class="panel-body">
                                            <form action="{{url_for('answer_board_comment', parent_id=comment.id)}}" method="POST">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="text" id="answer{{comment.id}}" placeholder="Type an Answer...">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-success">Send!</button>
                                                        </div>
                                                        <script>
                                                            $('#answer{{comment.id}}').keydown(registerAtSign)
                                                        </script>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- end Answers-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <!-- end comments -->
            </div>
        </div>
    </div> <!--container end -->

<script> //this script is for changing the color of the targeted div when open e.g. th elink from a mail
                        var hash = window.location.hash;
                        if(hash){
                            var hashed_obj = $(hash);
                            if (!hashed_obj.hasClass('collapse')){
                                $(hash).closest('div.panel-collapse').collapse('show');
                            }
                            window.scrollTo(0, hashed_obj.offset().top-300);
                            hashed_obj.css('box-shadow','0 6px 20px 0 #009999').fadeIn(500);
                        }
                        //$(window.location.hash).css('box-shadow','0 6px 20px 0 #009999').fadeOut(3000)
                        
</script>


{% endblock %}