{%- extends 'base.html' %} {% block title %} {% if parttype %} IDS: {{part.ids}} {% else %} select a parttype {% endif %}
{% endblock %} {% block content %}

    <div class="container col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-12 col-md-6"> <!-- First column-->
                <div class="row">
                    <div class="col-xs-8 col-md-8">
                        <h3>IDS: {{part.ids}}<br>
                            <small>EXB: {{part.exb_number or ""}}</small>
                        </h3>                
                    </div>
                    <div class="col-xs-4 col-md-4">
                        {% if part.out %}
                            <h3><div class="label label-danger">Out</div></h3>
                        {% else %}
                           <h3> <div class="label label-success">In</div>         </h3>                   
                        {% endif %}        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 panel panel-default">
                        <div class="panel-body">
                                <p><strong>Type:</strong> {{part.part_type.name}}</p>
                                <p><strong>Location:</strong> {{part.place().id}}</p>
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <th>Attribute</th>
                                    <th>Value</th>
                                </thead>
                                <tbody>
                                    {% for arg in part.part_type.args() %}
                                    <form action="{{url_for('edit_part_value', part_ids=part.ids)}}" method="POST">
                                        <tr>
                                            <td>{{arg}}</td>
                                            <td><input type="text" id="input:{{arg|replace(' ', '_')}}" name="{{arg}}" value="{{part.args()[arg]}}"
                                            style="border: none; background-color: white"
                                            {% if not current_user.is_authenticated %}
                                            disabled="true"
                                            {%endif%}
                                            >
                                            <button class="btn btn-default btn-sm pull-right"  type="submit"
                                            {% if not current_user.is_authenticated %}
                                            disabled="true"
                                            {%endif%}
                                            >
                                            <span class="glyphicon glyphicon-pencil"></span></button>
                                            </td>
                                        </tr>
                                    </form>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- first column end -->
            <div class="col-xs-12 col-md-6"><!-- second column -->

            </div><!-- second column end-->
        </div>
    </div> 

{% endblock %}