{%- extends "base.html" %}
{%- import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ 'Page of: ' + project.project_name }}
{% endblock %}

{% block content %}
<div class="container container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table class="row">
                    <tr>
                    <td class="col-xs-9 col-md-9 col-lg-9 col-ld-9">
                        <h3>{{project.project_name}}</h3>
                    </td>
                    <!--td class="col-xs-3 col-md-3 col-lg-3 col-ld-3">
                        <form class=""
                            action="{{ url_for('delete_project', project_name=project.project_name) }}"
                            method="post">
                                {% if current_user.is_authenticated %}
                                    <button class="btn btn-group btn-warning btn-sm" type="button"
                                            data-toggle="collapse" data-target="#delete_project"
                                            aria-expanded="false"
                                            aria-controls="delete_project"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                {% endif %}
                            <div class="collapse" id="delete_project">
                                <div class="">
                                    <br>
                                    <button class="btn btn-danger btn-sm btn-block"
                                            type="submit"><span
                                            class="glyphicon glyphicon-ok pull-left"></span>
                                        <strong>Delete?</strong>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </td-->
                    </tr>
                </table>
            </div>
            <div class="panel-body" style="border-bottom: solid #e7e7e7 1px">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="thumbnail">
                            {% if project.project_default_image_path is none %}
                            <img src="/static/staticPictures/logo.png"
                                 alt="Project Picture"
                                 style="width: 100%">
                            {% else %}
                            <img src="/static/Pictures/{{ project.project_default_image_path|replace('\\','/') }}"
                                 alt="Project Picture"
                                 style="width: 100%">
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <div class="caption">
                                <p>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <button class="btn btn-default btn-block" type="button" data-toggle="collapse"
                                                data-target="#delete_project_picture">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <form action="{{ url_for('edit_project_image',project_name=project.project_name) }}"
                                          method="post" class="" enctype="multipart/form-data"
                                          id="new_upfile_form">

                                        <input class="hidden" name="new_upfile" id="new_upfile" accept="image/*"
                                               type="file" value="upload"
                                               onchange="document.getElementById('new_upfile_button').click()">
                                        <button class="hidden" type="submit" id="new_upfile_button"></button>
                                        <div class="col-xs-6 col-md-6">
                                            <button class="btn btn-default btn-block" type="button"
                                                    onclick="document.getElementById('new_upfile').click()"><span
                                                    class="glyphicon glyphicon-edit"></span></button>
                                        </div>
                                    </form>
                                </div>
                                </p>
                            </div>
                            {% endif %}
                            {% set img_id=project.project_default_image_path|replace('/','_') %}

                            <form action="{{ url_for('delete_project_image', project_name=project.project_name) }}"
                                  method="post">

                                <div class="collapse" id="delete_project_picture">
                                    <div class="">
                                        <br><br>
                                        <button class="btn btn-danger"
                                                type="submit"><span
                                                class="glyphicon glyphicon-ok pull-left"></span>
                                            <strong>Delete?</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal" style="font-size: 2rem">
                    <dt class="">Description<dt>
                    <dd>{{ project.project_description|safe }}</dd>
                </dl>
                
            </div>
        </div>
        {# Patches #}
<!--div class="panel-body"-->
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Patches</h3></div>
    <div class="panel-body">
    
    <!--New Patch panel-->
    <div class="panel-group" id="panelidNewPanel" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="button" id="headingNewPanel" data-toggle="collapse" data-parent="#panelidNewPanel" 
                        href="#collapseNewPanel" aria-controls="collapseNewPanel" aria-expanded="false" toggle="false">
                <h4 class="panel-title">
                        New Patch <span class="glyphicon glyphicon-edit"></span>
                        <span class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
            </div>
            <div id="collapseNewPanel" class="panel-collapse collapse" role="tabpanel" 
                 aria-labelledby="headingNewPanel">
                <div class="panel-body">
                    <form action="{{url_for('add_new_patch', project_id=project.project_name)}}" method="post">
                        <div class="form-group">
                            <textarea class="form-control" name="patch_description" rows="10"
                            placeholder="Markdown is supported!"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end of new patch panel-->
    
    {% for patch in project.project_patches %}
    <div class="panel-group" id="panelid{{patch.patch_id|string}}" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading"  role="button" data-toggle="collapse" data-parent="#panelid{{patch.patch_id|string}}" 
                        href="#collapse{{patch.patch_id|string}}" aria-controls="collapse{{patch.patch_id|string}}" 
                        id="heading{{patch.patch_id|string}}">
                <h4 class="panel-title">
                        Patch {{patch.patch_number|string}}
                        <span class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
            </div>
            <div id="collapse{{patch.patch_id|string}}" class="panel-collapse collapse" role="tabpanel" 
                 aria-labelledby="heading{{patch.patch_id|string}}">
                
                <div class="panel-body">
                    {{patch.md_description()|safe}}
                </div>
                <div class="panel-body"><!--Buttons for editing-->
                    <div class="col-xs-12 col-md-12 col-ld-12">
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" 
                        data-target="#editPatchModal{{patch.patch_id|string}}">
                            Edit <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" id="patch_files">
                        <div class="col-xs-2 col-md-1 col-ld-1">
                            <form action="{{url_for('patch_add_file', patch_id=patch.patch_id)}}"
                                enctype="multipart/form-data" method="POST" id="{{patch.patch_id|string}}FileForm">
                            <input class="hidden" name="file" id="{{patch.patch_id|string}}FileInput" type="file"
                                   onchange="document.getElementById('{{patch.patch_id|string}}btn').click()">
                            <button class="hidden" type="submit" id="{{patch.patch_id|string}}btn"></button>
                            <button class="btn btn-default" style="height: 10rem" type="button"
                                    onclick="document.getElementById('{{patch.patch_id|string}}FileInput').click()">
                                <span class="glyphicon glyphicon-file"
                                style="font-size: 3rem"></span>
                            </button>
                            </form>
                        </div>
                        {% for file in patch.files %}
                            <div class="col-xs-4 col-md-2 col-ld-1">
                                <div class="thumbnail">
{% if '.jpg' in file.name()|lower or '.jpeg' in file.name()|lower or '.bmp' in file.name()|lower or '.png' in file.name()|lower %}
    {% set file_pic = "/static/Pictures/"+file.name() %}
{% else %}
    {% set file_pic = "/static/staticPictures/file.png" %}    
{% endif %}
                                    <a href="/static/Pictures/{{file.name()}}" target="_blank">
                                        <img src="{{file_pic}}"
                                             alt="doc_id:{{file.patch_document_id|string}}"
                                             style="width: 100%">
                                        <div class="caption">
                                            <p style="word-break: break-all">{{file.name()}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>



{# End of patches #}

            <div class="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Boards:</h3>
                    </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-responsive table-condensed ">
                        <thead class="">
                        <tr class="">
                            <th class="text-info ">Board</th>
                            <th class="text-info ">Version</th>
                            <th class="text-info ">Status</th>
                            <th class="text-info ">Patch</th>
                        </tr>
                        </thead>

                        <tbody class="">

                        {% for b in boards %}



                            <tr class="table_links "
                                onclick="window.document.location='{{ url_for('show_board_history',g_code=b.code) }}';">


                                <td class="text-justify table_links ">
                                    {{ b.code }}
                                </td>
                                <td class="text-justify table_links ">
                                    {{ b.version }}
                                </td>
                                <td class="text-justify table_links ">
                                    {{ b.stat }}
                                </td>
                                <td class="text-justify table_links ">
                                    {{ b.patch_numbers() }}
                                </td>


                            </tr>

                                    </div>
                                </tr>

                            </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>

        </div>
    </div>

    {# edit Patch Area #}

{% for patch in project.project_patches %}
<div class="modal fade" id="editPatchModal{{patch.patch_id}}" tabindex="-1" 
role="dialog" aria-labelledby="editPatchModalLabel{{patch.patch_id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPatchModalLabel{{patch.patch_id}}">Edit Patch Text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('edit_patch')}}" method="POST">
            <div class="form-group">
                <input class="hidden" name="patch_id" value="{{patch.patch_id}}">
                <textarea class="form-control" name="patch_description" rows="10"
                placeholder="Markdown is supported!">{{patch.description}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary pull-right"
                 data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>

    //console.log(window.location.hash.substr(0));

</script>

    {# Print Area #}

    <div class="container container-fluid print_website print_website_parent">
        <p class="print_website">
        <h3>Project</h3>
        <address class="print_website">
            <h4 class="print_website">Project Name: {{ project.project_name }}<br>
                <small class="print_website">Project description: {{ project.project_description }}</small>
            </h4>
        </address>
        </p>

        <table class="table table-striped table-bordered print_website">
            <thead class="print_website">
            <tr class="print_website">
                <th class="text-info print_website">Board</th>
                <th class="text-info print_website">Version</th>
                <th class="text-info print_website">Status</th>
                <th class="text-info print_website">Patch</th>
            </tr>
            </thead>

            <tbody class="print_website">

            {% for b in boards %}



                <tr class="table_links print_website">


                    <td class="text-justify table_links print_website">
                        {{ b.code }}
                    </td>
                    <td class="text-justify table_links print_website">
                        {{ b.version }}
                    </td>
                    <td class="text-justify table_links print_website">
                        {{ b.stat }}
                    </td>
                    <td class="text-justify table_links print_website">
                        {{ b.patch_numbers() }}
                    </td>


                </tr>


            {% endfor %}
            </tbody>
        </table>


    </div>
    <script>

        var hash = window.location.hash;
                        if(hash){
                            var hashed_obj = $(hash)
                            $(hash).addClass('in')
                            window.scrollTo(0, hashed_obj.offset().top-300);
                            //hashed_obj.css('box-shadow','0 6px 5px 0 #009999').fadeIn(500);
                        }
    </script>
{% endblock %}
