{%- extends 'base.html' %} {% block title %} Room {{room.id}}
{% endblock %} {% block content %}

<div class="container col-xs-12 col-md-8 col-md-offset-2"> <!-- container -->
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3"><!-- First Column-->
            <h3>{{room.title}} <small>id: {{room.id}}</small></h3>
            <hr>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-info">Name</td>
                        <th class="text-info">Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="{{url_for('edit_room_property', room_id=room.id, property='title')}}"
                        method="POST">
                            <td>Title</td>
                            <td><input type="text" id="{{room.title}}" name="title" value="{{room.title}}" 
                                {% if current_user.is_authenticated %}
                                placeholder="Enter the value here..."                                            
                                {%endif%}
                                style="border: none; background-color: white"
                                {% if not current_user.is_authenticated %}
                                disabled="true"
                                {%endif%}
                                >
                                <button class="btn btn-default btn-sm pull-right"  type="submit"
                                {% if not current_user.is_authenticated %}
                                disabled="true"
                                {%endif%}
                                >
                                <span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form action="{{url_for('edit_room_property', room_id=room.id, property='address')}}"
                        method="POST">
                            <td>Address</td>
                            <td><input type="text" id="{{room.address}}" name="address" value="{{room.address}}" 
                                {% if current_user.is_authenticated %}
                                placeholder="Enter the value here..."                                            
                                {%endif%}
                                style="border: none; background-color: white"
                                {% if not current_user.is_authenticated %}
                                disabled="true"
                                {%endif%}
                                >
                                <button class="btn btn-default btn-sm pull-right"  type="submit"
                                {% if not current_user.is_authenticated %}
                                disabled="true"
                                {%endif%}
                                >
                                <span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </form>
                    </tr>
                </tbody>

            </table>
        </div><!--End First Column-->
    </div><!--End first row-->
    <div class="row"><!--Second row-->
        <div class="col-xs-12 col-md-6 col-md-offset-3"><!-- First Column second row-->
            <h4>Places</h4>
            <hr>
            {% if current_user.is_authenticated %}
            <form action="{{url_for('add_place', room_id=room.id)}}" method="POST">
                <div class="form-group">
                    <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Add Place</button>
                </div>
            </form>
            {% endif %}
            <table class="table table-bordered table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="text-info">ID</th>
                        <th class="text-info">Part IDS</th>
                        <th class="text-info">In Stock</th>
                        {% if current_user.is_authenticated %}                        
                        <th class="text-info">Clear</th>
                        {% endif %}                        
                    </tr>
                </thead>
                <tbody>
                    {% for place in room.places %}
                    <tr class="table_links" 
                        {% if place.part %}
                        onclick="window.document.location='{{place.part.link()}}';"
                        {% endif %}
                        >
                        
                        <td>{{place.id}}</td>
                        {% if place.part %}
                            <td>{{place.part.ids}}</td>
                            <td>{{place.part.in_stock()}}</td>
                            <td>
                                {% if current_user.is_authenticated %}
                                <form action="{{url_for('clear_place', place_id=place.id)}}" method="POST">
                                    <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                </form>
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>                          
                        {% endif %}    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!--End first col second row-->
    </div><!--End second row-->
</div> <!--End Container-->

{% endblock %}