{%- extends 'base.html' %}
{%- import 'own_wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Board Database - Start
{% endblock %}

{% block content %}
    <div class="container container-fluid col-xs-4 col-md-4"
         style="position: absolute; top: 30%; left: 30%; border: 1px hidden #e7e7e7">

        <img src='/static/Pictures/logo.jpg' class="img-thumbnail img-responsive" alt="Logo" style="margin-bottom: 10%">
        <form action="" method="post">
            <div class="input-group">
                <input name="search_field_main" type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" name="submit_main">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container" style="position: absolute; top: 70%; left: 25%">

        <div class="alert alert-info center-block col-xs-6 col-md-6">
            <p>Hello {{ current_user.username }}.<br>Thank you for using this application. If you find any errors,
                things you don't like or just want to chat with the developer. Please write
                <a href="mailto:stefan.steinmueller@siemens.com?Subject=Feedback for SDI Board application"
                   style="color: blueviolet">
                    Stefan Steinmüller
                </a>
                an E-Mail and will answer you sooner or later.
            </p>
        </div>

    </div>
{% endblock %}