{%- extends 'base.html' %}
{%- import 'own_wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Board Database - Start
{% endblock %}

{% block content %}

    <div class="container center-block ">
        <!--style="position: absolute; top: 30%; margin-left: auto; margin-right: auto;"-->
        <div class="container-fluid col-xs-6 col-md-6 col-lg-6"
             style="border: 1px hidden #e7e7e7; position: absolute; top: 30%">
            <!-- margin-left: auto; margin-right: auto;-->
            <!--div class=""-->
            <img src='/static/staticPictures/logo.jpg' class="img-thumbnail img-responsive" alt="Logo"
                 style="margin-bottom: 10%">
            <form action="" method="post">
                <div class="input-group">
                    <input name="search_field_main" type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="submit_main">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--/div-->
        </div>
    </div>



    <div class="container center-block">
        <div class="container-fluid col-xs-6 col-md-6 col-lg-6" style="position: absolute; top: 90% ">

            <div class="alert alert-info" style="white-space: normal">
          <span class="text-justify">Hello {{ current_user.username }}.<br>Thank you for using this application. If you find any errors,
                things you don't like or you have ideas how to improve. Please write
                <a href="mailto:stefan.steinmueller@siemens.com?Subject=Feedback for SDI Board application"
                   style="color: blueviolet">
                    Stefan Steinmüller
                </a>
                an E-Mail and will answer you sooner or later.
          </span>
            </div>
        </div>
    </div>

{% endblock %}
