{%- extends 'base.html' %}

{% block title %}
    Results
{% endblock %}

{% block content %}
    <div class="container container-fluid">
        <div class="page-header">
            <h1>
                <small>Results for: " {{ search_word }} "</small>
            </h1>
        </div>
        {% if projects %}
            <div class="panel-default panel-collapse">
                <div class="panel-heading"><h3>Projects:</h3></div>


                <table class="table table-striped table-hover table-responsive table-condensed">
                    <thead>

                    <th class="text-info">Project Name</th>

                    </thead>
                    <tbody>
                    {% for project in projects %}

                        <tr class="table_links"
                            onclick="window.document.location='{{ url_for('show_project', project_name=project.project_name) }}';">

                            <td class="text-justify">
                                {{ project.project_name }}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>


            </div>
        {% endif %}
        {% if args %}
            <div class="panel-default panel-collapse">
                <div class="panel-heading"><h3>Boards:</h3></div>
                <table class="table table-striped table-hover table-responsive table-condensed">

                    <thead>
                    <tr>
                        <th class="text-info">Code</th>
                        <th class="text-info">Project Name</th>
                        <th class="text-info">Version</th>
                        <th class="text-info">Added on</th>
                        <th class="text-info">Added by</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in args %}



                        <tr class="table_links" onclick="window.document.location='{{ row.link }}';">


                            <td class="text-justify">
                                {{ row.code }}
                            </td>
                            <td class="text-justify">
                                {{ row.project_name }}
                            </td>
                            <td class="text-justify">
                                {{ row.version }}
                            </td>
                            <td class="text-justify">
                                {{ row.dateAdded }}
                            </td>
                            <td class="text-justify">
                                {{ row.addedBy.username }}
                            </td>

                                
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if results_devices %}
            <div class="panel-default panel-collapse">
                <div class="panel-heading"><h3>Devices:</h3></div>
                <table class="table table-striped table-hover table-responsive table-condensed">
                    <thead>
                    <tr>
                        <th class="text-info">Device Name</th>
                        <th class="text-info">Device Brand</th>
                        <th class="text-info">Network Name</th>
                        <th class="text-info">MAC Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in results_devices %}
                        <tr class="table_links" onclick="window.document.location='{{ row.link() }}';">
                            <td class="text-justify">
                                {{ row.device_name }}
                            </td>
                            <td class="text-justify">
                                {{ row.device_brand }}
                            </td>
                            <td class="text-justify">
                                {% if "NetworkName" in row.args().keys() %}
                                {{row.args()['NetworkName']}}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td class="text-justify">
                                {% if "MAC" in row.args().keys() %}
                                {{row.args()["MAC"]}}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if results_comments %}
            <div class="panel-default panel-collapse">
                <div class="panel-heading"><h3>Comments:</h3></div>
                <table class="table table-striped table-hover table-responsive table-condensed">
                    <thead>
                    <tr>
                        <th class="text-info">Board</th>
                        <th class="text-info">content</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in results_comments %}
                        <tr class="table_links" onclick="window.document.location='{{ row.link() }}';">
                            <td class="text-justify">
                                {{ row.board_code }}
                            </td>
                            <td class="text-justify">
                                {{ row.short_result(search_word) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

                
    </div>


    {# Print Area #}
    <div class="container container-fluid print_website_parent print_website">
        <div class="page-header print_website h2">Results for "{{search_word}}"</div>
        {% if projects %}
        <table class="print_website table table-bordered table-striped">
            <thead class="print_website">
            <th class="print_website">Project Name</th>
            </thead>
            <tbody class="print_website">
            {% for p in projects %}
                <tr class="print_website">
                <td class="print_website">{{ p.project_name|safe }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if args %}
        <table class="print_website table table-bordered table-striped">
            <thead class="print_website">
            <th class="print_website">Board</th>
            <th class="print_website">Version</th>
            <th class="print_website">Project Name</th>
            <th class="print_website">Owner</th>
            <th class="print_website">State</th>
            </thead>
            <tbody class="print_website">
            {% for b in args %}
                <tr class="print_website">
                <td class="print_website">{{ b.code|safe }}</td>
                <td class="print_website">{{ b.version|string }}</td>
                <td class="print_website">{{ b.project.project_name|string }}</td>
                {% if b.args() and 'owner' in b.args().keys() %}
                    <td class="print_website">{{ b.args()['owner'] }}</td>
                {% else %}
                <td class="print_website">N/A</td>
                {% endif %}
                <td class="print_website">{{ b.stat|string }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endif %}

          {% if results_comments %}
        <table class="print_website table table-bordered table-striped">
            <thead class="print_website">
            <th class="print_website">Board</th>
            <th class="print_website">content</th>
            </thead>
            <tbody class="print_website">
            {% for c in results_comments %}
                <tr class="print_website">
                <td class="print_website">{{ c.board_code|safe }}</td>
                <td class="print_website">{{ c.short_result(search_word) }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if results_devices %}
                <table class="print_website table table-bordered table-striped">
                    <thead class="print_website">
                    <tr>
                        <th class="print_website">Device Name</th>
                        <th class="print_website">Device Brand</th>
                        <th class="print_website">Network Name</th>
                        <th class="print_website">MAC Address</th>
                    </tr>
                    </thead>
                    <tbody class="print_website">
                    {% for row in results_devices %}
                        <tr class="print_website" onclick="window.document.location='{{ row.link() }}';">
                            <td class="print_website">
                                {{ row.device_name }}
                            </td>
                            <td class="print_website">
                                {{ row.device_brand }}
                            </td>
                            
                            <td class="print_website">
                                {% if "NetworkName" in row.args().keys() %}
                                {{row.args()['NetworkName']}}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td class="print_website">
                                {% if "MAC" in row.args().keys() %}
                                {{row.args()["MAC"]}}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% endif %}
    </div>
{% endblock %}